:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0.3rem;
}

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}
.showcase h1 {
  font-family: "Bree Serif", serif;
  position: relative;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.showcase p {
  font-size: 1.3rem;
}
.showcase:before {
  content: "";
  background: url() no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}
.btn:hover {
  opacity: 0.7;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10000;
  transition: 0.6s;
}
/*
nav {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
/*
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background: url();
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner.active {
  transform: translate(-400px);
}

/*commissions*/
.mainbody {
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
}

/*About*/
.jenny {
  float: left;
  margin: 10px 10px 10px 5%;
  max-height: 90%;
  width: auto;
}

.abbody {
  float: right;
  font-family: 'Amatic SC', cursive;
  font-size: 150%;
  padding: 20px 50px;
  background-color: antiquewhite;
}
